---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint YAML files
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: .
          config_file: .yamllint

  build:
    name: Build ${{ matrix.arch }}
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - aarch64
          - amd64
          - armv7
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build add-on
        uses: home-assistant/builder@master
        with:
          args: --test --${{ matrix.arch }} --target proxy-manager --docker-hub ghcr.io/${{ github.repository_owner }}
